@import 'base.scss';

.App {
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;

    > .Page {
        width: 100%;

        > .inner {
            padding-top: $size_medium * 3 + 20px;
            padding-left: $content_padding;
            padding-right: $content_padding;
            padding-bottom: 100px;
            max-width: $max_screen_width;
            margin: auto;
            min-height: 100vh;
        }
    }

    > .Header {
        > .container {
            height: $size_medium * 3;
        }
    }
}