$mobile_size: 480px;
$tablet_size: 800px;
$max_screen_width: 1000px;
$content_padding: 10px;

$grey_white: #f4f4f4;
$grey_white2: #d1d1d1; 
$white: white;
$grey: #a1a1a1;
$grey_transparent: rgba(161, 161, 161, 0.8);
$grey_input: rgb(179, 179, 179);
$grey_input_blur: rgb(204, 204, 204);
$blue_input: #2664FF;
$blue: #5e95bb;
$blue_white: #7cc5f7;
$red: #fc2323;
$red_light: #fc5353;
$black: #333333;
$black_light: #575757;
$black_light2: #757575;
$black_light3: #808080;
$background_grey_transparent: rgba(54, 54, 54, 0.9);
$aqua: #66FCF1;
$aqua_white: #e6fffd;
$aqua_white2: #f0fcfb;
$aqua_opacity: rgba(102, 252, 241, 0.9); 
$aqua_dark: #45A29E;
$aqua_dark_opacity: rgba(69, 162, 158, 0.9);
$aqua_darker: #2e6d6a;
$aqua_darker_opacity: rgba(46, 109, 106, 0.9);
$aqua_darker2: #296360;
$violet: #970062;
$orange_violet: #E08976;
$violet_orange: #A46877;
$violet_orange_transparency: rgba(164, 104, 119, 0.7);
$orange: #FFBA6A;
$yellow: #F9F871;
$green: #00fc00;

$size_xlarge: 50px;
$line_xlarge: 60px;

$size_larger: 40px;
$line_larger: 50px;

$size_large: 30px;
$line_large: 40px;

$size_medium: 20px;
$line_medium: 30px;

$size_smedium: 17px;
$line_smedium: 25px;

$size_normal: 15px;
$line_normal: 20px;

$size_small: 12px;
$line_small: 15px;

$size_smaller: 9px;
$line_smaller: 12px;

$size_smallest: 6px;
$line_smallest: 9px;